body {
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;    
}


a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    color: #f9faf8;
    font-size: 24px;
    background-color: #1f2937;
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding: 0px 30px;
}

.hlinks {
    display:flex;
    justify-content: flex-end;
    gap:30px;  
}

img {
    width: 255px;
    height: auto;    
}

.container {
    display:flex;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}

.awesome {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}